<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="AnnoModificationManager4.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="AnnoModificationManager4.Settings.Directories" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <AnnoModificationManager4.Properties.Settings>
            <setting name="Language" serializeAs="String">
                <value>German</value>
            </setting>
            <setting name="Window_Width" serializeAs="String">
                <value>800</value>
            </setting>
            <setting name="Window_Height" serializeAs="String">
                <value>600</value>
            </setting>
            <setting name="Window_X" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Window_Y" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Window_IsMaximized" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="OverwrittenAnnoVersion" serializeAs="String">
                <value />
            </setting>
            <setting name="StartupShown" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OverwrittenAnnoDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="modificationList_SortProperty" serializeAs="String">
                <value>Category</value>
            </setting>
            <setting name="PackageService_Hidden" serializeAs="String">
                <value />
            </setting>
            <setting name="Web_UserCount" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OverwrittenDataFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="RDABackupDir" serializeAs="String">
                <value />
            </setting>
            <setting name="LastAnnoVersion" serializeAs="String">
                <value />
            </setting>
        </AnnoModificationManager4.Properties.Settings>
        <AnnoModificationManager4.Settings.Directories>
            <setting name="Anno1404" serializeAs="String">
                <value/>
            </setting>
            <setting name="ApplicationData" serializeAs="String">
                <value/>
            </setting>
        </AnnoModificationManager4.Settings.Directories>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
