<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="DevelopmentTools.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <DevelopmentTools.Properties.Settings>
            <setting name="Window_X" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Window_Y" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Window_Width" serializeAs="String">
                <value>800</value>
            </setting>
            <setting name="Window_Height" serializeAs="String">
                <value>600</value>
            </setting>
            <setting name="Window_IsMaximized" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="XmlModuleCreator_FilterSystem_AutoAssign" serializeAs="String">
                <value />
            </setting>
            <setting name="XmlModuleCreator_FilterSystem_AutoAssign_Enabled"
                serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="XmlModuleCreator_TreeView_AllowEditParent" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ListModuleCreator_AutoAssign" serializeAs="String">
                <value />
            </setting>
            <setting name="StartPage_RecentFiles" serializeAs="String">
                <value />
            </setting>
            <setting name="RDAWorkingDir" serializeAs="String">
                <value />
            </setting>
        </DevelopmentTools.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
